<tr id="comment-<%= comment.id %>" class="bg-white">
  <td>
    <h3 class="text-sm font-medium"><%= comment.user.name %></h3>
    <p class="text-gray-600"><%= simple_format(comment.content) %></p>
  </td>
  <% if current_user.own?(comment) %>
    <td class="action">
      <ul class="flex justify-end">
        <li class="inline-block">
          <%= link_to "#", class: "edit-comment-link" do %>
            <i>edit</i>
          <% end %>
        </li>
        <li class="inline-block">
          <%= link_to "#", class: "delete-comment-link" do %>
            <i>destroy</i>
          <% end %>
        </li>
      </ul>
    </td>
  <% end %>
</tr>