<header class="bg-blue-300 text-white py-4">
  <div class="container mx-auto flex items-center justify-between px-4">
    <%= link_to root_path , class: "text-2xl font-bold" do %>
      椅子寝
    <% end %>

    <div>
      <button id="toggleButton" aria-label="Toggle Menu" class="flex items-center justify-center">
        <span id="bars" class="block">&#9776;</span>
        <span id="xmark" class="hidden block">&#10006;</span>
      </button>
      <nav id="menu" class="fixed top-0 left-0 z-0 w-full translate-x-full bg-blue-300 text-center text-xl font-bold text-white transition-all ease-linear">
        <%= link_to "ブックマーク一覧", bookmarks_posts_path, class: "hover:text-gray-300 block px-8 py-2" %>
        <%= link_to "いいねランキング一覧", likes_posts_path, class: "hover:text-gray-300 block px-8 py-2" %>
        <%= link_to "プロフィール設定", profile_path, class: "hover:text-gray-300 block px-8 py-2" %>
        <%= link_to "投稿一覧", posts_path, class: "hover:text-gray-300 block px-8 py-2" %>
        <%= link_to "ログアウト", logout_path, class: "hover:text-gray-300 block px-8 py-2", data: { turbo_method: :delete } %>
      </nav>
    </div>
  </div>
</header>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    const toggleButton = document.getElementById('toggleButton');
    const bars = document.getElementById('bars');
    const xmark = document.getElementById('xmark');
    const menu = document.getElementById('menu');

    toggleButton.addEventListener('click', toggleMenu);
    toggleButton.addEventListener('keydown', handleKeydown);

    function toggleMenu(event) {
        if (bars.classList.contains('hidden')) {
            showMenu();
        } else {
            hideMenu();
        }
    }

    function showMenu() {
        bars.classList.remove('hidden');
        xmark.classList.add('hidden');
        menu.classList.remove('-translate-x-full');
    }

    function hideMenu() {
        bars.classList.add('hidden');
        xmark.classList.remove('hidden');
        menu.classList.add('-translate-x-full');
    }

    function handleKeydown(event) {
        if (event.key === 'Enter' || event.key === ' ') {
            event.preventDefault();
            toggleMenu();
        }
    }
  });
</script>