<header class="bg-blue-300 text-white py-4">
  <div class="container mx-auto flex items-center justify-between px-4">
    <%= link_to root_path , class: "text-2xl font-bold" do %>
      椅子寝
    <% end %>

    <nav>
      <ul id="menu" class="fixed top-0 left-3">
        <%= link_to "ブックマーク一覧", bookmarks_posts_path, class: "hover:text-gray-300" %>
        <%= link_to "いいねランキング一覧", likes_posts_path, class: "hover:text-gray-300" %>
        <%= link_to "プロフィール設定", profile_path, class: "hover:text-gray-300" %>
        <%= link_to "投稿一覧", posts_path, class: "hover:text-gray-300" %>
        <%= link_to "ログアウト", logout_path, class: "hover:text-gray-300", data: { turbo_method: :delete } %>
      </ul>
    </nav>
  </div>
</header>