<% content_for(:title, t('.title')) %>
<div class="container mx-auto h-screen">
  <h1 class="text-3xl pt-4 mb-4 font-bold">通知設定</h1>
  <h2 class="mb-4 text-center md:text-xl text-blue-500 md:mb-4 ">通知をONにすると自身の投稿にコメントされた時にLINE通知が届きます！</h2>
  <p class="mb-4 text-center text-sm md:text-xl text-blue-500 md:mb-4 ">※LINEログインユーザーのみ通知設定が可能です。</p>
  <% if current_user.line_user? %>
    <%= form_with model: @user_setting, url: user_setting_path, method: :put, class: "space-y-4" do |form| %>
      <div class="field flex items-center">
        <%= form.check_box :line_notification, { checked: @user_setting.line_notification, class: "form-checkbox h-5 w-5 text-blue-600" } %>
        <%= form.label :line_notification, "LINE通知を受け取る", class: "ml-2 text-sm font-medium text-gray-700" %>
      </div>

      <div class="actions">
        <%= form.submit "更新", class: "bg-blue-500 text-white px-4 py-2 rounded-md hover:bg-blue-600 transition duration-200" %>
      </div>
    <% end %>
  <% else %>
    <p class="mb-4 text-center text-sm md:text-xl text-red-500 md:mb-4 xl:mb-2">LINE以外でのログインとなっております。LINE通知を受け取るには、お手数ですが、再度LINEでログインのほどお願いいたします。</p>
    <div class="container mx-auto">
      <div class="flex justify-center items-center md:flex-row flex-col">
        <%= link_to "ログアウトする", logout_path, data: { turbo_method: :delete }, class: "btn md:ml-4" %>
      </div>
    </div>
  <% end %>
</div>