<div class="flex justify-center">
  <div class="mx-auto flex-1 max-w-screen-md">
    <%= image_tag 'service_logo', size: '500x500' %>
  </div>
  <div class="mx-auto flex-1 max-w-screen-md">
    <%= image_tag 'sleep_image', size: '500x500' %>
  </div>
</div>

<section class="bg-cover bg-center bg-sky-950 text-customBeige">
  <div class="container mx-auto px-6 py-20 h-full flex flex-col justify-center items-center text-center">
      <h1 class="text-xl text-white leading-tight">仮眠方法を探してみませんか?</h1>
      <p class="text-xl text-white mt-6">最適な睡眠方法を見つけて共有しよう!</p>
  </div>
</section>

<section class="py-20 bg-gray-100">
  <div class="container mx-auto px-6">
      <div class="mt-12 flex flex-wrap -mx-4">
          <div class="w-full md:w-1/3 px-4 mb-8">
              <div class="bg-white shadow-md rounded-lg p-6">
                  <h3 class="text-center text-2xl font-bold mb-4">仮眠方法を模索</h3>
                  <%= image_tag 'sleep_way', size: '200x200', class: 'mx-auto d-block mb-4' %>
                  <p>椅子を使って色々な寝方を模索</p>
                  <p>お気に入りの仮眠方法を見つけてみよう！</p>
              </div>
          </div>
          <div class="w-full md:w-1/3 px-4 mb-8">
              <div class="bg-white shadow-md rounded-lg p-6">
                  <h3 class="text-center text-2xl font-bold mb-4">仮眠方法を共有</h3>
                  <%= image_tag 'comment_image', size: '300x220', class: 'mx-auto d-block mb-4' %>
                  <p>投稿した仮眠方法を共有して睡眠不足を緩和</p>
                  <p>お気に入りの仮眠方法が見つかったら投稿しよう！</p>
              </div>
          </div>
          <div class="w-full md:w-1/3 px-4 mb-8">
              <div class="bg-white shadow-md rounded-lg p-6">
                  <h3 class="text-center text-2xl font-bold mb-4">グッズを登録</h3>
                  <%= image_tag 'item_icon' , size: '200x200', class: 'mx-auto d-block mb-4' %>
                  <p>グッズ検索機能を使ってアイテムを共有</p>
                  <p>アイテム特有の寝方を見つけてみましょう!</p>
              </div>
          </div>
      </div>
      <div class="flex justify-center">
        <% if current_user %>
          <%= link_to posts_path, class: 'bg-white text-blue-500 font-semibold py-3 px-8 rounded-lg hover:bg-blue-700 hover:text-white transition duration-300' do %>
            早速投稿しよう！
          <% end %>
        <% else %>
          <%= link_to new_user_path, class: 'bg-white text-blue-500 font-semibold py-3 px-8 rounded-lg hover:bg-blue-700 hover:text-white transition duration-300' do %>
            まずは登録！
          <% end %>
        <% end %>
      </div>
  </div>
</section>
