<div class="col-sm-12 col-lg-4 mb-3">
  <div id="post-id-<%= post.id %>">
    <div class="card">
      <%= image_tag "post_placeholder.png", class: "card-img-top", width: "300", height:"200" %>
      <div class="card-body">
        <div class="d-flex">
          <h4 class="card-title">
            <%= link_to post.title, post_path(post) %>
          </h4>
          <% if current_user.own?(post) %>
            <div class='ms-auto'>
              <%= link_to edit_post_path(post), id: 'button-edit-#{post.id}', class: 'btn btn-primary' do %>
                <i>edit</i>
              <% end %>
              <%= link_to post_path(post), id: 'button-delete-#{post.id}', data: { turbo_method: :delete, turbo_confirm: t('defaults.delete_confirm') } , class: 'btn btn-danger' do %>
                <i>destroy</i>
              <% end %>
            </div>
          <% else %>
            <%= render 'bookmark_buttons', { post: post } %>
          <% end %>
        </div>
        <ul class="list-inline">
          <%= link_to post.user.name , profile_path %>
          <li><%= l post.created_at, format: :short %></li>
        </ul>
        <% post.item_tags.each do |item_tag| %>
          <div class="badge rounded-pill bg-primary text-decoration-none text-blue">
            <%= link_to item_tag.name, posts_path(item_tag_name: item_tag.name), class: 'text-blue' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>