<% content_for(:title, @post.title) %>
<h1 class="text-3xl pt-4 mb-4 font-bold">投稿詳細</h1>
  <article class="card">
    <div class="card-body">
      <div class="grid grid-cols-12 gap-4">
        <div class="col-span-3">
          <%= image_tag @post.image_url, class: "object-contain" %>
        </div>
        <div class="col-span-9">
          <div class="flex flex-col w-full border-opacity-50">
            <div class="font-semibold">タイトル</div>
            <div class="grid h-10 card bg-base-300 rounded-box place-items-center">
              <h3 class="font-meiryo text-lg"><%= @post.title %></h3>
            </div>
            <div class="divider"></div>
            <div class="font-semibold">仮眠を行うまでの準備</div>
            <div class="grid grid-cols-1 h-40 bg-base-300 rounded-lg items-center p-4">
              <h4 class="text-lg"><%= @post.prepare %></h4>
            </div>
            <div class="divider"></div>
            <div class="font-semibold">仮眠時の寝方</div>
            <div class="grid grid-cols-1 h-40 bg-base-300 rounded-lg items-center p-4">
              <h4 class="text-lg"><%= @post.content %></h4>
            </div>
            <div class="divider"></div>
            <div class="font-semibold">仮眠後のアクション</div>
            <div class="grid grid-cols-1 h-40 bg-base-300 rounded-lg items-center p-4">
              <h4 class="text-lg"><%= @post.care %></h4>
            </div>
            <div class="divider"></div>
            <div class="font-semibold">使用したグッズ</div>
            <div class="grid h-10 card bg-base-300 rounded-box place-items-center">
              <% @post.item_tags.each do |item_tag| %>
                <div class="badge rounded-pill bg-primary text-decoration-none text-blue">
                  <%= link_to item_tag.name, posts_path(item_tag_name: item_tag.name), class: 'text-blue' %>
                </div>
              <% end %>
            </div>
            <div class="divider"></div>
            <div>
              <div class="font-semibold">グッズ登録</div>
              <% if current_user.own?(@post) %>
                <%= link_to 'グッズ登録へ', new_item_path(post_id: @post.id), class: 'btn btn-primary float-right', target: '_blank', rel: "noopener noreferrer" %>
              <% end %>
              <% if @items.present? %>
              <% @items.each do |item| %>
                <div class="card mb-3 search-result-item" style="max-width: 380px; max-height: 300px;">
                  <div class="row g-0">
                    <div class="col-md-4" style="margin: auto 0;">
                      <% if item[:image_url].present? %>
                        <%= image_tag item[:image_url], alt: item[:name], class: 'img-fluid float-right' %>
                      <% else %>
                        <p>画像がありません</p>
                      <% end %>
                    </div>

                    <div class="col-md-8">
                      <div class="d-flex justify-content-between align-items-center" style="padding: 5px 15px">
                        <p class="text-start m-0" style="color: #7d7d7d;"><%= item[:name] %></p>
                        <% if current_user && current_user.own?(@post) %>
                          <%= link_to item_path(item), id: 'delete-btn', method: :delete, data: { turbo_method: :delete, turbo_confirm: t('defaults.delete_confirm') } do %>
                            <i class="fa-regular fa-trash-can" style="color: #ff2d2d;"></i>
                          <% end %>
                        <% end %>
                      </div>
                      <div class="card-body" style="padding: 5px 15px;">
                        <div class="d-flex justify-content-between align-items-center">
                          <span><%= number_to_currency(item[:price], unit: '¥', format: '%u %n') %></span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              <% end %>
            <% else %>
              <p class="text-center m-4">登録しているアイテムはありません。</p>
            <% end %>
            </div>
            <div class="divider"></div>
            <div class="grid h-15 card bg-base-300 rounded-box place-items-center">
              <h4 class="text-base">投稿者：<%= @post.user.name %></h4>
              <h4 class="text-base"><%= @post.created_at %></h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </article>
  <div class="flex justify-center gap-4">
    <% if current_user.own?(@post) %>
      <div class='flex justify-center gap-4'>
        <%= link_to edit_post_path(@post), id: "button-edit-#{@post.id}", class: 'btn btn-primary float-right' do %>
          <i>edit</i>
        <% end %>
        <%= link_to post_path(@post), id: "button-delete-#{@post.id}", class: 'btn btn-outline btn-warning float-right', data: { turbo_method: :delete, turbo_confirm: t('defaults.delete_confirm') } do %>
          <i>destroy</i>
        <% end %>
      </div>
    <% end %>
  </div>
  <div class="container mx-auto">
    <%= render 'comments/form', comment: @comment, post: @post %>
    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        <table class="table">
          <tbody id="table-comment">
            <%= render @comments %>
          </tbody>
        </table>
      </div>
    </div>
  </div>